{% extends "base.html" %}
{% load static %}
{% block title %}   
    About
{% endblock title %}
{% block content %}
    <div class="container" style="height: 100vh;padding-top:50px">
        <img src="{% static 'profile/author.png' %}" style="height: 150px;width: 150px"/>
        <br>
        <br>
        {% lorem 50 w random %}
        <br>
        <br>
        <br>
        <center>
            <a class="social" href="https://github.com/AlphaBeta1906" title="github" target="_blank">
                <i class="fab fa-github fa-2x"></i>
            </a>
            <a class="social" href="https://www.instagram.com/alfarizi_8301/" title="instagram" target="_blank">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a class="social" href="https://www.fiverr.com/alfarizi_1906?up_rollout=true" title="fiverr" target="_blank">
                <i class="fab fa-fonticons-fi fa-2x"></i>
            </a>
        </center>
    </div>
{% endblock content %}
