{% extends "base.html" %}
{% load static %}
{% block meta %}
    {% include "meta.html" with description="a blogging website" title="Home" type="article" img=""  %}
{% endblock meta %}
{% block title %}
    Alphablog
{% endblock title %}
{% block content %}
    <div class="container">
        <h1>
        {% if tag_page %}        
            Tag: {{tag}}
        {% else %}
            Welcome to AlphaBlog
        {% endif %}
        </h1>
        <hr>
        {% for post in posts  %}
            {% if not post.draft  %}
                {% include "post.html" %}
            {% endif %}
        {% empty %}
            <h1 style="height: 50vh;"> No blog here </h1>
        {% endfor %}         

        {% if page_count > 1  %}
            {% if tag_page %}
                <div>
                    {% if posts.has_previous %}
                        <a href="{% url 'post_tag' tag %}?page={{ posts.previous_page_number }}">
                            <i class="fas fa-left-long"></i>
                        </a>
                    {% endif %}
                    {% for page in page_range  %}
                        <a href="{% url 'post_tag' tag %}?page={{page}}" class="{% if page == posts.number %}current{% endif %} page">
                            {{page}}
                        </a>
                    {% endfor %}
                    {% if posts.has_next %}
                        <a href="{% url 'post_tag' tag %}?page={{posts.next_page_number}}">
                            <i class="fas fa-right-long"></i>
                        </a>
                    {% endif %}
                </div>
            {% else %}
                <div>
                    {% if posts.has_previous %}
                        <a href="{% url 'index' %}?page={{ posts.previous_page_number }}">
                            <i class="fas fa-left-long"></i>
                        </a>
                    {% endif %}
                    {% for page in page_range  %}
                        <a href="{% url 'index' %}?page={{page}}" class="{% if page == posts.number %}current{% endif %} page">
                            {{page}}
                        </a>
                    {% endfor %}
                    {% if posts.has_next %}
                        <a href="{% url 'index' %}?page={{posts.next_page_number}}">
                            <i class="fas fa-right-long"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>
    <br>
    <br>

{% endblock content %}
