<meta name="description" content="{{description}}">
<meta name="author" content="Alfarizi">
<meta property="og:title" content="{{title}}">
<meta name="description" property="og:description" content="{{description}}">
<meta property="og:type" content="{{type}}" >    
<meta property="og:image" content="{{img}}">
<meta property="og:image:alt" content="{{title}} cover image">
<meta property="og:url" content="{{title}} cover image">
<meta name="twitter:card" value="summary">
<meta name="twitter:creator" content="farizi">
<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
<meta content="aeiwi, alexa, alltheWeb, altavista, aol netfind, anzwers, canada, directhit, euroseek, excite, overture, go, google, hotbot. infomak, kanoodle, lycos, mastersite, national directory, northern light, searchit, simplesearch, Websmostlinked, webtop, what-u-seek, aol, yahoo, webcrawler, infoseek, excite, magellan, looksmart, bing, cnet, googlebot" name="search engines">
<meta content="ALL" name="SPIDERS">
<meta content="ALL" name="WEBCRAWLERS">
