<div class="post">
    <hgroup>
        <h2>
            <a href="{% url 'read_post' post.slug %} ">
                {{post.title}}
            </a>
        </h2>
        <p>
            <i class="fas fa-clock" style="padding-right: 5px;"></i>
            {% if post.date_update %}
                {{post.date_update}} (updated) 
            {% else %}
                {{post.date_publish}}
            {% endif %}
        </p>
        <a href="{% url 'post_tag' post.tag %}">
            #{{post.tag}}
        </a>
        {% include "profile.html" with author=post.author %}
    </hgroup>
    <p style="font-size: 1rem">
        {% if post.description and post.description != "none" %}
            {{post.description|truncatechars:150}}
        {% else %}
            Post about {{post.title}}
        {% endif %}
    </p>
    <hr>
</div>